<div class="modal fade" id="datatransfer-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Zustimmung zur Datenübertragung geben</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<form action="/nutzerkonto-login" method="GET">
				<div class="modal-body">
					<p>Der Dienst <em>{{ title }}</em> möchte auf folgende Daten Ihres Nutzerkontos
						zugreifen. Hier können Sie einzelne Attribute deselektieren.
					</p>
					<input type="text" name="redirect" value="{{{ redirect }}}" style="display:none;">
					{{#each dataKeys}}
						<label class="checkbox-container">{{ this }}
							<input type="checkbox" checked="checked" name="{{ this }}">
							<span class="checkmark"></span>
						</label>
					{{/each}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-dismiss="modal">Abbrechen</button>
					<button type="submit" class="btn btn-info ">Bestätigen</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$(function () {
		// initalize modal
		$('.btn-open-datatransfer-modal').click(function () {
			$('#datatransfer-modal').modal('show');
		});
	});
</script>