<div class="jumbotron">
	<h1 class="display-4">Hallo Bürger!</h1>
	<p class="lead">Viel Spaß mit den folgenden Services.</p>
	<hr class="my-4">
	<p>präsentiert von Tech4Germany</p>

	<div class="btn-group-vertical mt-5" role="group" aria-label="Services">
		<a class="btn btn-secondary btn-lg" role="button" href="/service-provider-3">Bafög leistungsabhängiger Teilerlass</a>
		<a class="btn btn-secondary btn-lg" role="button" href="/service-provider-2">Waffenschein</a>
		<a class="btn btn-secondary btn-lg" role="button" href="/service-provider-1">Baumfällen</a>
	</div>
</div>